

NET "buttons[0]" LOC = C11;
NET "buttons[1]" LOC = M4;
NET "buttons[2]" LOC = A7;
NET "led[0]" LOC = M5;
NET "led[1]" LOC = M11;
NET "led[2]" LOC = P7;
NET "led[3]" LOC = P6;
NET "led[4]" LOC = N5;
NET "led[5]" LOC = N4;
NET "led[6]" LOC = P4;
NET "led[7]" LOC = G1;
NET "switch[0]" LOC = P11;
NET "switch[1]" LOC = L3;
NET "switch[2]" LOC = K3;
NET "switch[3]" LOC = B4;
NET "switch[4]" LOC = G3;
NET "switch[5]" LOC = F3;
NET "switch[6]" LOC = E2;
NET "switch[7]" LOC = N3;
NET "buttons[0]" CLOCK_DEDICATED_ROUTE = FALSE;

# PlanAhead Generated physical constraints 

NET "i_clock" LOC = B8;
